SUPABASE_URL="https://zzcqbqygehgqhtikzeeh.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp6Y3FicXlnZWhncWh0aWt6ZWVoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjQ2ODM5MzMsImV4cCI6MjA0MDI1OTkzM30.55yRmMvPZqNVCF9vmnBJCDyufrWmZbmZmvceL2rRI0M"